form {
    background-color: yellow;
    text-align: center;
    padding: 50px;
}

label {
    padding-right: 20px;
    color: blue;
    font-size: 17px;
}

.title {
    color: red;
    font-size: xx-large;
}

input {
    display: inline-block;
    height: 50px;
    width: 35%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 21px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 17px;
    font-weight: 300;
}

.signup {
    color: blue;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}

.submit-btn {
    background: red;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}

.submit-btn:hover {
    box-shadow: 0px 1px 18px white;
}

.form-border {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 1px;
    width: 100%;
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 20px;
}

.sign-up {
    padding-top: 50px;
}
