#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 70px;
  row-gap: 20px;
}

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet"> */