button {
    color: blue;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

a {
    margin: 10px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.home {
    text-align: center;
}