button {
    background: red;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    transition: 0.25s;
    width: 153px;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 10px;
}

a {
    margin: 10px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.home {
    text-align: center;
    padding-top: 1px;
}

.welcome {
    padding-top: 20px;
}

@media (max-width: 600px) {
    a {
        font-size: 19px;
    }

    .header-background {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}